* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 3.6875rem 0rem 0rem 0rem;
}
.modal{
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 35%;
    background: rgb(228, 240, 187);
    padding: 1rem;
    border: 1px solid rgb(22, 20, 20);
    box-shadow: 1px 1px rgba(0,0,0,0.5) ;
    
}
.modal_title{
    text-align: center;
    margin: 0 0 1rem 0;
    color: rgb(41, 37, 48);
}
.modal_actions{
    text-align: center;
}
.modal_action{
    border: 1px solid #0e4f1f;
    /* border-radius: 2rem; */
    background: #f6faf7;
    text-decoration: none;
    color: rgb(24, 22, 22);
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin:0rem 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;

}
.modal_action:hover,
.modal_action:active{
    background: #b0c4b6;
    border-color: #2ddf5c;
}
#no{
    background: rgb(248, 245, 245);
    border-color:rgb(134, 22, 22);
  
}
#no:hover,
#no:active{
    background: #b18187;
    border-color:#ff5454 ;
}

#product-overview {
    background: url("images/freedom.jpg");
    background-size:100%;
    background-origin: border-box;
    background-clip: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 26rem;
    padding: 0.625rem; 
  
}

.section-title {
    color: #5fa772;
    text-align: center;
}

#product-overview h1 {
    font-family: 'Righteous', cursive;
    color: rgb(58, 45, 45);
    text-align: center;
    margin: 3.875rem 0rem;
}
.plan{
    background: #c3f0a3;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
#plan-sec{
    margin: auto;
    width: 80%;
    padding: 0.625rem;
    text-align: center;
}
.centre-plan{
    color: white;
    background-color: rgb(98, 151, 85);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.recommended{
    background: white;
    color:rgb(32, 109, 32);
    border-radius: 0.5rem;
    padding: 0.25rem 0rem;
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.5);;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    }
.list li{
    margin:0.5rem 0rem;
} 
.plan-type{
    color: rgb(32, 109, 32);
}
.plan-price{
    color:rgb(82, 79, 79)
}
.centre-plan h2{
    color: rgb(32, 109, 32);
}
.button{
    font: inherit;
    color: white;
    background: rgba(2, 27, 2, 0.699) ;
    padding: 8px;
    border: 6px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}
.button:hover,
.button:active{
    color: rgb(32, 109, 32) ;
    background: white;
}
.button:focus{
    outline:none;
}



/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: rgb(65, 64, 62);
    padding: 16px 16px;
}
.line{
    background-color: #25c4a4;
    height: 4px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #25c4a4;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
    
    
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
    }

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid white;
}

.main-nav__item--cta a {
    color:black;
    background: white;
    padding: 8px 16px;
    border-radius: 8px;
    
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color:white;
    background: rgb(226, 97, 97);
    border: none;
}

#reason{
    background-color:rgb(216, 113, 95);
    margin: 5rem 2.5rem;
    padding: 1.875rem;
}
#reason h1{
    color:white ;
    text-align: center;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}
#reason ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
#reason li{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: auto;

}
#reason p{
    color: #0b0e0d;
    font-size: 1.25rem;
    font-weight: bold;
    
}
#reason div{
    background-color: #f8f5f5;
    height: 8rem;
    width: 8rem;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    padding: 1.25rem;
    
}
.footer{
    background: #293B4F;
    height: 5rem;
    margin:2rem 0rem 0rem 0rem;
    
}
.footer ul{
    list-style: none;
    margin: 0px;
    padding: 1.5rem;
    text-align: center;
    
}
.footer li{
    display: inline-block;
    margin: 0px 2.5rem;
    
}
.footer a{
    color: rgb(169, 174, 175);
    text-decoration: none;
    font-size: 1.25rem;

}
.footer a:hover,
.footer a:active{
    color:white ;
}
.copyright{
    background-color: #203042;
    color: #7B90A1;
    text-align: center;
    padding: 0.5rem;
    margin: 0px;
    position: relative;
    bottom: 0px;
}