* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 59px 0px 0px 0px;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px; 
  
}

.section-title {
    color: #5fa772;
    text-align: center;
}

#product-overview h1 {
    font-family: 'Righteous', cursive;
    color: rgb(58, 45, 45);
    text-align: center;
    margin: 62px 0px;
}
.plan{
    background: #c3f0a3;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
#plan-sec{
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}
.centre-plan{
    color: white;
    background-color: rgb(98, 151, 85);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.recommended{
    background: white;
    color:rgb(32, 109, 32);
    border-radius: 8px;
    padding: 4px 0px;
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.5);;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    }
.list li{
    margin:8px 0px;
} 
.plan-type{
    color: rgb(32, 109, 32);
}
.plan-price{
    color:rgb(82, 79, 79)
}
.centre-plan h2{
    color: rgb(32, 109, 32);
}
.button{
    font: inherit;
    color: white;
    background: rgba(2, 27, 2, 0.699) ;
    padding: 8px;
    border: 6px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}
.button:hover,
.button:active{
    color: rgb(32, 109, 32) ;
    background: white;
}
.button:focus{
    outline:none;
}



/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: rgb(65, 64, 62);
    padding: 16px 16px;
}
.line{
    background-color: #25c4a4;
    height: 4px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #25c4a4;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
    
    
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
    }

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid white;
}

.main-nav__item--cta a {
    color:black;
    background: white;
    padding: 8px 16px;
    border-radius: 8px;
    
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color:white;
    background: rgb(226, 97, 97);
    border: none;
}
#reason{
    background-color:rgb(216, 113, 95);
    margin: 80px 40px;
    padding: 30px;
}
#reason h1{
    color:white ;
    text-align: center;
    padding: 0px 20px 20px 20px;
}
#reason ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
#reason li{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: auto;

}
#reason p{
    color: #0b0e0d;
    font-size: 20px;
    font-weight: bold;
    
}
#reason div{
    background-color: #f8f5f5;
    height: 128px;
    width: 128px;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block
    
}
.footer{
    background: #293B4F;
    height: 128px;
    margin:32px 0px 0px 0px;
    
}
.footer ul{
    list-style: none;
    margin: 0px;
    padding: 40px;
    text-align: center;
    
}
.footer li{
    display: inline-block;
    margin: 0px 40px;
    
}
.footer a{
    color: rgb(169, 174, 175);
    text-decoration: none;
    font-size: 20px;

}
.footer a:hover,
.footer a:active{
    color:white ;
}
.copyright{
    background-color: #203042;
    color: #7B90A1;
    text-align: center;
    padding: 8px;
}