
body {
    font-family: 'Montserrat', sans-serif;
    margin: 3.6875rem 0rem 0rem 0rem;
}
.line{
    background-color: #25c4a4;
    height: 3px;
    width: 100vw;
}
@media(max-width:40rem)
{
    .line{
        background-color: #25c4a4;
        height: 4px;
        width: 100vw;
    }
}
.testimonial__image-container{
     /* width: 80%; */
     width: 100%;
    /* display: inline-block; */
    /* margin: auto; */
    margin-top: 2rem;
}

.testimonial__image{
    width: 70%;
    vertical-align: top;
}
.testimonial__image-container__1{
    margin-top: 6rem;
}
#customer-2{
    text-align: right;
}
.testimonial__info{
    /* display: inline-block; */
    /* width: 40%; */
    /* vertical-align: middle; */
    /* margin: 3rem; */
    margin: 1rem;
}
.testimonial__name{
    color: brown;
    font-weight: bold;
}
.testimonial__text{
    font-size: 1.25rem;
}
.testimonial__subtitle a{
    text-decoration: none;
    color: inherit;
}
.testimonial__subtitle a:hover,
.testimonial__subtitle a:active{
    color: #dbb1b1;
}

.testimonial__subtitle{
    color: gray;
    font-weight: normal;
}

.testimonial__info__1{
    text-align: right;
    margin-bottom: 7rem;
}
.testimonial__info__2{
    text-align: left;
}
.last{
    margin-bottom: 10rem;
    vertical-align: middle;
}
@media(min-width:40rem){
    .testimonial__info{
        display: inline-block; 
         width: 40%; 
         vertical-align: middle;
         margin: 3rem;
    }
    .testimonial__image-container{
        width: 35vw; 
        display: inline-block; 
       margin: auto;
       margin-top: 2rem;
        vertical-align: middle; 
       box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
   }
    #customer-2{
    text-align:right;
     margin: 5rem 0rem; 
}  
 #customer-2 .testimonial__info{
    text-align: left;
}
.testimonial__image{
    width: 100%;
}
}
    
    



