body {
    font-family: 'Montserrat', sans-serif;
    margin: 7rem 0rem 0rem 0rem;
}
.line{
    background-color: (37, 196, 164,0.03) ;
    height: 0.2rem;
}


.section-1{
    background: rgba(213, 255, 220, 0.95);
    padding: 2rem;
    width: 70%;
    margin:2rem 0rem;  
    min-width: 20rem;
   
}
#plus{
    position: relative;
    z-index: 0;
}
.section-3{
    background-color: rgb(98, 151, 85);
    padding: 2rem;
    width: 70%;
    margin:2rem 0rem;
    min-width: 20rem;
}
.section-1 a,
.section-3 a{
    text-decoration: none;
}
.section-1 h1{
    color: black;
    font-weight: bold;
}
.section-3 h1{
    color:white;
    font-weight: bold;
}
.section-3 h2,
.section-1 h2{
   color :rgb(82, 79, 79);
}
.content{
    color: rgb(46, 34, 34);
    background: white;
    padding: 2rem;
    border: 1px solid rgb(32, 109, 32);
    font-size: 1.25rem;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    /* text-shadow: 2px 2px 3px rgb(148, 135, 135); */
}
.section-1,
.section-3{
    border: 4px solid #0e4f1f;
    border-left: none;
}
.section-1:hover,
.section-1:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}
.section-3:hover,
.section-3:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}#free{
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f ;
    text-align: right;
}
#free:hover,
#free:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.clear{
    clear: right;
}
.background{
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
}
.badge{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
    font-size: 0.75rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
}
@media(min-width:40rem)
{
    .section-1 {
        margin: 3rem auto;
        max-width: 1500px;
    }
    .section-3{
        margin: 3rem auto;
        max-width: 1500px;
    }
    .section-1,
.section-3{
    border: 4px solid #0e4f1f;
}
}